name: Release
on:
  push:
    tags:
      - '*'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
      - run: echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt
      - uses: actions/upload-artifact@v2
        with:
          name: release_url
          path: release_url.txt
  publish:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.15'
      - uses: actions/download-artifact@v2
        with:
          name: release_url
          path: .
      - run: make submodules
      - run: make drafter
      - run: make plugin
      - id: get_upload_url
        run: echo ::set-output name=upload_url::$(cat release_url.txt)
      - id: get_version
        run: echo ::set-output name=version::${github.ref/refs\/tags\//}
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_upload_url.outputs.upload_url }}
          asset_path: ./drafter.so
          asset_name: drafter-${{ steps.get_version.outputs.version }}-${{ runner.os }}.so
          asset_content_type: application/octet-stream
