name: Test
on:
  pull_request:
  push:
    branches:
      - master
      - alpine
    tags-ignore:
      - '*'
jobs:
  test-musl:
    name: test (alpine)
    runs-on: ubuntu-latest
    container:
      image: golang:1.15.2-alpine
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: recursive
      - run: apk add --update build-base python2 git
      - run: printenv
      - run: ls -la
      - run: ls -la /github/home
      - run: make submodules
      - run: make drafter
      - run: go mod download
      - run: go test -v -race -cover ./...
