name: Test
on:
  pull_request:
  push:
    branches:
      - master
      - alpine
    tags-ignore:
      - '*'
jobs:
  test-musl:
    name: test (alpine)
    runs-on: ubuntu-latest
    container:
      image: golang:1.15.2-alpine
    steps:
      - uses: actions/checkout@v2
      - run: apk add --update build-base python2 git
      - run: |
          git clone https://github.com/apiaryio/drafter.git adapter/ext/drafter
          cd adapter/ext/drafter
          git checkout v5.0.0
          git submodule update --init --recursive
          cd -
      - run: printenv
      - run: ls -la
      - run: ls -la /github/home
      - run: make drafter
      - run: go mod download
      - run: go test -v -race -cover ./...
